body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
}

.row {
    margin-left: 5px;
    margin-right: -5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main_div {
    height: 250px;
    display: table;
    table-layout: fixed;
}
@media screen and (max-width: 425px) {
    .main_div {
        height: 200px;
    }
}

.div_result {
    word-wrap: break-word;
}

.child_image_container {
    height: 100%;
    width: 100%;
}

.custom_tr {
    display: table-row;
}

.custom_td {
    padding: 0;
}

.empty_column {
    width: 20%;
}

.search_column {
    width: 60%;
}

.main-search-box {
    width: 100%;
}

.magnet-link {
    background-image: url("https://cdn0.iconfinder.com/data/icons/web-ui-vol-3/64/magnet-512.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07, 1.41, .82, 1.41);

    display: block;
    width: 30px;
    height: 30px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.magnet-link:hover {
    background-size: 100%;
}

/*.centered_image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/
.full_size {
    max-height: 100%;
    max-width: 100%;
}

.inline {
    display: inline;
}

.hover-img {
    width: 100%;
}

.popover-poster {
    pointer-events: none;
}

#div_search {
    display: table;
    width: 100%;
}

#form_search {
    text-align: left;
    vertical-align: middle;
}

.main-submit-button {
    display: table;
    margin: auto;
}

.div_info_item_title, .magnet-link-popup-header {
    font-weight: bold;
    font-family: 'Chalkduster', fantasy !important;
}
.div_info_item_value, .magnet-link-popup-body {
    font-family: 'Chalkduster', fantasy !important;
}

/*Carousel*/
.g-scrolling-carousel .items {
    padding: 5px 0;

}

.g-scrolling-carousel .items img {
    display: inline-block;
    margin-right: 10px;
    width: 170px;
    height: 150px;
    line-height: 150px;
    box-shadow: 0 0 5px #000;
    text-align: center;
}

/*Alerting*/
#notification {
    position: absolute;
    top: 0;
    right: 0;
}




#para {
    border: 1px solid black;
    width: 300px;
    height: 100px;
    overflow: scroll;
}

.toast-color {
    color: white;
    background-color: #33b5e5;
}

h1 {
    color: green;
}


/* Input effects*/
.input-span {
    padding: 10px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0.5;
    width: 100%;
}

input {
    padding: 10px;
}

input:focus + span, input:not(:placeholder-shown) + span {
    opacity: 1;
    transform: scale(0.75) translateY(-90%) translateX(-30px);
}

/* For IE Browsers*/
input:focus + span, input:not(:-ms-input-placeholder) + span {
    opacity: 1;
    transform: scale(0.75) translateY(-90%) translateX(-30px);
}
